
*{
    /*margin: 0;
    padding: 0;
    */
}

.container{   
    margin:0 auto; /*cima e baixo=0, direita e esquerda automatica, vai centralizar*/
    width:940px;
}

.destaque{
    margin-top:5px;
    margin-bottom:5px;            
        
}


header{
  
  
}
.cabecalho{
    background-color:#FF6600;
       
}


#principal{
    width: 700px;
    min-height: 450px; 
    margin-left:15px;
    float:left;
    
   
        
}

#principal li{
    
    vertical-align:top;
    
}


/*menu tipos de prato*/

.menu-tipos{
  
    float: left;
    background-color:#D2691E;
    width: 100px;
    font-size: 14px;
    border-radius:4px;
    box-shadow: 0 0 5px #333; /*sombra*/
    
 }
 .menu-tipos li{
   background-color:white;
    margin-bottom:1px; /*coloca um traço suave embaixo dos links */
    padding:5px 10px;
 }
.menu-tipos a{
    text-decoration:none; /*tira o sublinhado dos links*/
 }
 
 #conteudo-carrinho h2,
 .menu-tipos h2{
   	font-size:16px;
	text-transform:uppercase;
	margin-bottom:2px;
        margin-top:4px;
        text-align: center;
        
       
     
 }
 

#conteudo-carrinho{
    width: 97px;
    background-color:#D2691E;
    padding: 5px;
    float: right;
    margin-bottom: 5px;
    border-radius:4px;
    box-shadow: 0 0 5px #333; /*sombra*/
}

#conteudo-carrinho p{
    color:#1F1F1F;
}




footer{
    background:#FF6600;
    padding: 5px;
    text-align: center;
    color: #FFF;     
    clear:both;
    
}

.container-result{
    float: left;
    margin:0 15px 10px 0;
    width: 45%;
    height: 100px;
    padding-left:10px;
    padding-top:10px;    
}

 
.tipo_container{
   //background-color:#FFE88F;
   background:linear-gradient(135deg, #FFE88F, #FF822F);
   border-radius:8px;
   
 }

 .produto_container{
   background:linear-gradient(135deg, #FFE88F, #FFA86F);
   border-radius:8px;
 
 }

 
 
 
 
 h1{
    font-size: 30px;
    font-weight:bold;
    text-transform:uppercase;
     
 }
 
 
 
 //peguei emprestado do CSS padrão do cake
 //preciso editar e retirar o que não usa
 
 /** Forms **/
form {
	//clear: both;
	//margin-right: 20px;
	//padding: 0;
	width: 95%;
}
fieldset {
	border: none;
	//margin-bottom: 1em;
	//padding: 16px 10px;
}
fieldset legend {
	color: #e32;
	font-size: 160%;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0;
	padding: 10px 0 0;
}
fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	//clear: both;
	margin-bottom: 1em;
	padding: .5em;
	//vertical-align: text-top;
}
form .input {
	color: #444;
}
form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}
label {
	display: block;
	font-size: 110%;
	margin-bottom:3px;
}
input, textarea {
	//clear: both;
	font-size: 140%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 1%;
	width:98%;
}


input[type=submit] {
	display: inline;
	font-size: 110%;
	width: auto;
}
form .submit input[type=submit] {
	background:#FF9900;
	border-color: #2d6324;
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
	padding: 8px 10px;
}
form .submit input[type=submit]:hover {
	background: #FF0000;
}